@tailwind base;
@tailwind components;
@tailwind utilities;

/* --color-primary:#e89f71 */
/* --color-gray1: #3A3A3A */
/* --color-gray2: #616161 */
/* --color-gray3: #898989 */
/* --color-gray4: #B0B0B0 */
/* --color-gray5: #D8D8D8 */
/* --color-redAccent: #E97171 */
/* --color-GreenAccent: #2EC1AC */
/* --color-lightBG: #F4F5F7 */
/* --color-gradient:  F9F1E7  > FCF8F3 */

@layer base {
  :root {
    --color-white: 255 255 255;
    --color-black: 0 0 0;
    --color-primary: 232 159 113;
    --color-gray1: 58 58 58;
    --color-gray2: 97 97 97;
    --color-gray3: 137 137 137;
    --color-gray4: 176 176 176;
    --color-gray5: 216 216 216;
    --color-redAccent: 233 113 113;
    --color-greenAccent: 46 193 172;
    --color-lightBG: 244 245 247;
    --color-gradientStart: 249 241 231;
    --color-gradientEnd: 252 248 243;
    --transition-duration: 0.3s;
    --color-bgPrimary: ;
    --color-footerBg:255 255 255;
  }
  @media (prefers-color-sheme: dark) {
    :root {
      --color-white: 0 0 0;
      --color-black: 255 255 255;
      --color-primary: 232 159 113;
      --color-gray1: 240 240 240;
      --color-gray2: 209 209 209;
      --color-gray3: 178 178 178;
      --color-gray4: 135 135 135;
      --color-gray5: 92 92 92;
      --color-redAccent: 233 113 113;
      --color-greenAccent: 46 193 172;
      --color-lightBG: 40 40 40;
      --transition-duration: 0.3s;
      --color-gradientStart:58 58 58;
      --color-gradientEnd: 97 97 97;
      --color-bgPrimary: 137 137 137;
      --color-footerBg:58 58 58;
    }
  }
  :root[data-theme="light"] {
    --color-white: 255 255 255;
    --color-black: 0 0 0;
    --color-primary: 232 159 113;
    --color-gray1: 58 58 58;
    --color-gray2: 97 97 97;
    --color-gray3: 137 137 137;
    --color-gray4: 176 176 176;
    --color-gray5: 216 216 216;
    --color-redAccent: 233 113 113;
    --color-greenAccent: 46 193 172;
    --color-lightBG: 244 245 247;
    --color-gradientStart: 249 241 231;
    --color-gradientEnd: 252 248 243;
    --transition-duration: 0.3s;
    --color-bgPrimary: ;
    --color-footerBg:255 255 255;
  }
  :root[data-theme="dark"] {
    --color-white: 0 0 0;
    --color-black: 255 255 255;
    --color-primary: 232 159 113;
    --color-gray1: 240 240 240;
    --color-gray2: 209 209 209;
    --color-gray3: 178 178 178;
    --color-gray4: 135 135 135;
    --color-gray5: 92 92 92;
    --color-redAccent: 233 113 113;
    --color-greenAccent: 46 193 172;
    --color-lightBG: 40 40 40;
    --transition-duration: 0.3s;
    --color-gradientStart:58 58 58;
    --color-gradientEnd: 97 97 97;
    --color-bgPrimary: 137 137 137;
    --color-footerBg:58 58 58;
  }
}

.glass-effect {
  /* background: rgba(--color-gray1); */

  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

[data-theme] {
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
}

.theme-toggle-button {
  transition: transform var(--transition-duration);
}

[data-theme="dark"] .theme-toggle-button {
  transform: rotate(360deg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 0;
}

ul,
ol,
li,
form {
  margin: 0;
  padding: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.swiper-pagination2 .swiper-pagination-bullet-active {
  position: relative;
  width: 27px;
  height: 27px;
  border: 1px solid #e89f71;
  background-color: transparent;
}

.swiper-pagination2 .swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: #e89f71;
}

.swiper-pagination-bullet {
  background-color: var(--color-gray5);
}
